.dropdown-toggle {
    color: $component-active-color;

    &.collapsed {
        color: $gray-900;
    }

    &::after {
        margin-left: 0.5em;
    }
}



.navbar-nav .dropdown-menu {
    top:    5px !important;
    left:   -40%;
    margin: 15px 0 0 0;
    border: none;

    &:before {
        position: absolute;
        top: -10px;
        left: 45%;
        display: inline-block;
        border-right: 10px solid transparent;
        border-bottom: 10px solid $gray-200;
        border-left: 10px solid transparent;
        content: '';
    }
}
