//
// Variables
// --------------------------------------------------


// Components
//

//** Global color for active items (e.g., navs or dropdowns).
$component-active-color:    $brand-primary !default;
//** Global background color for active items (e.g., navs or dropdowns).
$component-active-bg:       transparent !default;

//** Width of the `border` for generating carets that indicator dropdowns.
$caret-width-base:          7px !default;
//** Carets increase slightly in size for larger components.
$caret-width-large:         10px !default;


// Buttons
//

$btn-font-weight:                normal !default;

$btn-default-color:              #fcfcfc !default;
$btn-default-color-hover:        #333 !default;
$btn-default-bg:                 #272727 !default;
$btn-default-bg-hover:           lighten($red-light, 20%) !default;
$btn-default-border:             transparent !default;
$btn-default-border-hover:       $red-base !default;

$btn-primary-color:              $red-base !default;
$btn-primary-color-hover:        darken($red-base, 10%) !default;
$btn-primary-bg:                 transparent !default;
$btn-primary-bg-hover:           transparent !default;
$btn-primary-border:             $red-base !default;

$btn-success-color:              #fff !default;
$btn-success-color-hover:        #fff !default;
$btn-success-bg:                 $brand-success !default;
$btn-success-bg-hover:           darken($btn-success-bg, 10%) !default;
$btn-success-border:             darken($btn-success-bg, 5%) !default;

$btn-info-color:                 #fff !default;
$btn-info-color-hover:           #fff !default;
$btn-info-bg:                    $gray-light !default;
$btn-info-bg-hover:              darken($btn-info-bg, 10%) !default;
$btn-info-border:                darken($btn-info-bg, 5%) !default;

$btn-warning-color:              #fff !default;
$btn-warning-color-hover:        #fff !default;
$btn-warning-bg:                 $brand-warning !default;
$btn-warning-bg-hover:           darken($btn-warning-bg, 10%) !default;
$btn-warning-border:             darken($btn-warning-bg, 5%) !default;

$btn-danger-color:               #fff !default;
$btn-danger-color-hover:         #fff !default;
$btn-danger-bg:                  $brand-danger !default;
$btn-danger-bg-hover:            darken($btn-danger-bg, 10%) !default;
$btn-danger-border:              darken($btn-danger-bg, 5%) !default;

$btn-link-disabled-color:        $gray-light !default;

// Allows for customizing button radius independently from global border radius
$btn-border-radius-base:         $border-radius-base !default;
$btn-border-radius-large:        $border-radius-base !default;
$btn-border-radius-small:        $border-radius-small !default;


// Forms
//
//##

//** `<input>` background color
$input-bg:                       transparent !default;
$input-bg-disabled:              transparent !default;

$input-color:                    #222 !default;
$input-border:                   #ccc !default;

$input-border-radius:            $border-radius-base !default;
$input-border-radius-large:      $border-radius-large !default;
$input-border-radius-small:      $border-radius-small !default;

$input-border-focus:             $gray-light !default;

$input-color-placeholder:        $gray-dark !default;

$input-height-base:              ($line-height-computed + ($padding-base-vertical * 2) + 10) !default;
$input-height-large:             (ceil($font-size-large * $line-height-large) + ($padding-large-vertical * 2) + 2) !default;
$input-height-small:             (floor($font-size-small * $line-height-small) + ($padding-small-vertical * 2) + 2) !default;

//** `.form-group` margin
$form-group-margin-bottom:       30px !default;

$legend-color:                   $gray-dark !default;
$legend-border-color:            transparent !default;

//** Background color for textual input addons
$input-group-addon-bg:           #fff !default;
//** Border color for textual input addons
$input-group-addon-border-color: $input-border !default;

//** Disabled cursor for form controls and buttons.
$cursor-disabled:                not-allowed !default;


// Dropdowns
//
//## Dropdown menu container and contents.

//** Background for the dropdown menu.
$dropdown-bg:                    $gray-base !default;
//** Dropdown menu `border-color`.
$dropdown-border:                rgba(0,0,0,.15) !default;
//** Dropdown menu `border-color` **for IE8**.
$dropdown-fallback-border:       #ccc !default;
//** Divider color for between dropdown items.
$dropdown-divider-bg:            #e5e5e5 !default;

//** Dropdown link text color.
$dropdown-link-color:            $gray-dark !default;
//** Hover color for dropdown links.
$dropdown-link-hover-color:      $gray-light !default;
//** Hover background for dropdown links.
$dropdown-link-hover-bg:         transparent !default;

//** Active dropdown menu item text color.
$dropdown-link-active-color:     $brand-primary !default;
//** Active dropdown menu item background color.
$dropdown-link-active-bg:        transparent !default;

//** Disabled dropdown menu item background color.
$dropdown-link-disabled-color:   $gray-light !default;

//** Text color for headers within dropdown menus.
$dropdown-header-color:          $gray-light !default;

//** Deprecated `$dropdown-caret-color` as of v3.1.0
$dropdown-caret-color:           #000 !default;


// Navbar
//

// Basics of a navbar
$navbar-height:                    50px !default;
$navbar-margin-bottom:             $line-height-computed !default;
$navbar-border-radius:             0 !default;
$navbar-padding-horizontal:        floor(($grid-gutter-width / 2)) !default;
$navbar-padding-vertical:          (($navbar-height - $line-height-computed) / 2) !default;
$navbar-collapse-max-height:       340px !default;

$navbar-default-color:             #777 !default;
$navbar-default-bg:                #fff !default;
$navbar-default-border:            darken($navbar-default-bg, 6.5%) !default;

// Navbar links
$navbar-default-link-color:                #444 !default;
$navbar-default-link-hover-color:          $red-base !default;
$navbar-default-link-hover-bg:             transparent !default;
$navbar-default-link-active-color:         #555 !default;
$navbar-default-link-active-bg:            darken($navbar-default-bg, 6.5%) !default;
$navbar-default-link-disabled-color:       #ccc !default;
$navbar-default-link-disabled-bg:          transparent !default;

// Navbar brand label
$navbar-default-brand-color:               $navbar-default-link-color !default;
$navbar-default-brand-hover-color:         darken($navbar-default-brand-color, 10%) !default;
$navbar-default-brand-hover-bg:            transparent !default;

// Navbar toggle
$navbar-default-toggle-hover-bg:           #ddd !default;
$navbar-default-toggle-icon-bar-bg:        #888 !default;
$navbar-default-toggle-border-color:       #ddd !default;


// Navs
//

$nav-link-padding:                          10px 15px !default;
$nav-link-hover-bg:                         $gray-light !default;

$nav-disabled-link-color:                   $gray-light !default;
$nav-disabled-link-hover-color:             $gray-light !default;
